@tailwind base;
@tailwind components;
@tailwind utilities;


/* styles/globals.css */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.ttf') format('ttf'),
       url('/fonts/Roboto-Bold.ttf') format('ttf');
  font-weight: 400 700;
  font-display: swap; 
}

:root {
  --background: #EBEAEE;
  --foreground: #171717;

  /* FOUNDATIONS */
  --gray-gray-50: #f9f8fa;
  --gray-gray-100: #ebeaee;
  --gray-gray-200: #e2dfe6;
  --gray-gray-300: #d5d1db;
  --gray-gray-400: #cdc8d4;
  --gray-gray-500: #c0bac9;
  --gray-gray-600: #afa9b7;
  --gray-gray-700: #88848f;
  --gray-gray-800: #6a666f;
  --gray-gray-900: #514e54;
  --gray-gray-950: #2c2b2e;
  --green-green-50: #edf7ee;
  --green-green-100: #c8e6c9;
  --green-green-200: #addaaf;
  --green-green-300: #87c98a;
  --green-green-400: #70bf73;
  --green-green-500: #4caf50;
  --green-green-600: #459f49;
  --green-green-700: #367c39;
  --green-green-800: #2a602c;
  --green-green-900: #204a22;
  --red-red-50: #feeceb;
  --red-red-100: #fcc5c1;
  --red-red-200: #faa9a3;
  --red-red-300: #f88178;
  --red-red-400: #f6695e;
  --red-red-500: #f44336;
  --red-red-600: #de3d31;
  --red-red-700: #ad3026;
  --red-red-800: #86251e;
  --red-red-900: #661c17;
  --purple-purple-50: #efe6fd;
  --purple-purple-100: #ceb0fa;
  --purple-purple-200: #b78af7;
  --purple-purple-300: #9654f4;
  --purple-purple-400: #8133f1;
  --purple-purple-500: #6200ee;
  --purple-purple-600: #5900d9;
  --purple-purple-700: #4600a9;
  --purple-purple-800: #360083;
  --purple-purple-900: #290064;
  --pink-pink-50: #fde9ef;
  --pink-pink-100: #f8b9cf;
  --pink-pink-200: #f598b7;
  --pink-pink-300: #f06896;
  --pink-pink-400: #ed4b82;
  --pink-pink-500: #e91e63;
  --pink-pink-600: #d41b5a;
  --pink-pink-700: #a51546;
  --pink-pink-800: #801136;
  --pink-pink-900: #620d2a;
  --blue-blue-50: #e9f5fe;
  --blue-blue-100: #badefb;
  --blue-blue-200: #99cff9;
  --blue-blue-300: #6ab9f7;
  --blue-blue-400: #4dabf5;
  --blue-blue-500: #2196f3;
  --blue-blue-600: #1e89dd;
  --blue-blue-700: #176bad;
  --blue-blue-800: #125386;
  --blue-blue-900: #0e3f66;
  --yellow-yellow-50: #fffdeb;
  --yellow-yellow-100: #fff9c2;
  --yellow-yellow-200: #fff6a5;
  --yellow-yellow-300: #fff27c;
  --yellow-yellow-400: #ffef62;
  --yellow-yellow-500: #ffeb3b;
  --yellow-yellow-600: #e8d636;
  --yellow-yellow-700: #b5a72a;
  --yellow-yellow-800: #8c8120;
  --yellow-yellow-900: #6b6319;
  --orange-orange-50: #fff5e6;
  --orange-orange-100: #ffdfb0;
  --orange-orange-200: #ffd08a;
  --orange-orange-300: #ffba54;
  --orange-orange-400: #ffad33;
  --orange-orange-500: #ff9800;
  --orange-orange-600: #e88a00;
  --orange-orange-700: #b56c00;
  --orange-orange-800: #8c5400;
  --orange-orange-900: #6b4000;

  --numbers-scale-2-s-3xs: 2px;
  --numbers-scale-2-s-3xs-rem: 0.125rem;
  --numbers-scale-2-s-2xs: 4px;
  --numbers-scale-2-s-2xs-rem: 0.25rem;
  --numbers-scale-2-s-xs: 6px;
  --numbers-scale-2-s-xs-rem: 0.375rem;
  --numbers-scale-2-s-s: 8px;
  --numbers-scale-2-s-s-rem: 0.5rem;
  --numbers-scale-2-s-m: 12px;
  --numbers-scale-2-s-m-rem: 0.75rem;
  --numbers-scale-2-s-l: 16px;
  --numbers-scale-2-s-l-rem: 1rem;
  --numbers-scale-2-s-xl: 20px;
  --numbers-scale-2-s-xl-rem: 1.25rem;
  --numbers-scale-2-s-2xl: 24px;
  --numbers-scale-2-s-2xl-rem: 1.5rem;
  --numbers-scale-2-s-3xl: 32px;
  --numbers-scale-2-s-3xl-rem: 2rem;
  --numbers-scale-2-s-4xl: 40px;
  --numbers-scale-2-s-4xl-rem: 2.5rem;
  --numbers-scale-2-s-5xl: 48px;
  --numbers-scale-2-s-5xl-rem: 3rem;
  --numbers-scale-2-s-full: 999px;
  --numbers-scale-2-s-full-rem: 62.4375rem;

  /* SIZING TOKENS */
  --radius-3xs: var(--numbers-scale-2-s-3xs-rem);
  --radius-2xs: var(--numbers-scale-2-s-2xs-rem);
  --radius-xs: var(--numbers-scale-2-s-xs-rem);
  --radius-s: var(--numbers-scale-2-s-s-rem);
  --radius-m: var(--numbers-scale-2-s-m-rem);
  --radius-l: var(--numbers-scale-2-s-l-rem);
  --radius-xl: var(--numbers-scale-2-s-xl-rem);
  --radius-2xl: var(--numbers-scale-2-s-2xl-rem);
  --radius-3xl: var(--numbers-scale-2-s-3xl-rem);
  --radius-4xl: var(--numbers-scale-2-s-4xl-rem);
  --radius-full: var(--numbers-scale-2-s-full-rem);

  --milkyway-tables-table-cell-family: "Roboto";
  --milkyway-tables-table-cell-size: 12px;
  --milkyway-tables-table-cell-size-rem: 0.75rem;
  --milkyway-tables-table-cell-weight: 400;
  --milkyway-tables-table-cell-style: normal;
  --milkyway-tables-table-cell-letter-spacing: 1.4px;
  --milkyway-tables-table-cell-letter-spacing-rem: 0.0875rem;
  --milkyway-tables-table-cell-line-height: 14.4px;
  --milkyway-tables-table-cell-line-height-rem: 0.9rem;
  --milkyway-tables-table-header-family: "Roboto";
  --milkyway-tables-table-header-size: 14px;
  --milkyway-tables-table-header-size-rem: 0.875rem;
  --milkyway-tables-table-header-weight: 700;
  --milkyway-tables-table-header-style: normal;
  --milkyway-tables-table-header-letter-spacing: 1.5px;
  --milkyway-tables-table-header-letter-spacing-rem: 0.0938rem;
  --milkyway-tables-table-header-line-height: 16.8px;
  --milkyway-tables-table-header-line-height-rem: 1.05rem;
  --milkyway-tables-table-number-family: "Roboto";
  --milkyway-tables-table-number-size: 16px;
  --milkyway-tables-table-number-size-rem: 1rem;
  --milkyway-tables-table-number-weight: 400;
  --milkyway-tables-table-number-style: normal;
  --milkyway-tables-table-number-letter-spacing: 1.6px;
  --milkyway-tables-table-number-letter-spacing-rem: 0.1rem;
  --milkyway-tables-table-number-line-height: 19.2px;
  --milkyway-tables-table-number-line-height-rem: 1.2rem;
  --milkyway-lists-numbered-list-family: "Roboto";
  --milkyway-lists-numbered-list-size: 16px;
  --milkyway-lists-numbered-list-size-rem: 1rem;
  --milkyway-lists-numbered-list-weight: 400;
  --milkyway-lists-numbered-list-style: normal;
  --milkyway-lists-numbered-list-letter-spacing: 1.6px;
  --milkyway-lists-numbered-list-letter-spacing-rem: 0.1rem;
  --milkyway-lists-numbered-list-line-height: 19.2px;
  --milkyway-lists-numbered-list-line-height-rem: 1.2rem;
  --milkyway-lists-bullet-list-family: "Roboto";
  --milkyway-lists-bullet-list-size: 16px;
  --milkyway-lists-bullet-list-size-rem: 1rem;
  --milkyway-lists-bullet-list-weight: 400;
  --milkyway-lists-bullet-list-style: normal;
  --milkyway-lists-bullet-list-letter-spacing: 1.6px;
  --milkyway-lists-bullet-list-letter-spacing-rem: 0.1rem;
  --milkyway-lists-bullet-list-line-height: 19.2px;
  --milkyway-lists-bullet-list-line-height-rem: 1.2rem;
  --milkyway-footnotes-small-text-small-text-family: "Roboto";
  --milkyway-footnotes-small-text-small-text-size: 12px;
  --milkyway-footnotes-small-text-small-text-size-rem: 0.75rem;
  --milkyway-footnotes-small-text-small-text-weight: 400;
  --milkyway-footnotes-small-text-small-text-style: normal;
  --milkyway-footnotes-small-text-small-text-letter-spacing: 1.3px;
  --milkyway-footnotes-small-text-small-text-letter-spacing-rem: 0.0812rem;
  --milkyway-footnotes-small-text-small-text-line-height: 14.4px;
  --milkyway-footnotes-small-text-small-text-line-height-rem: 0.9rem;
  --milkyway-footnotes-small-text-footnote-family: "Roboto";
  --milkyway-footnotes-small-text-footnote-size: 10px;
  --milkyway-footnotes-small-text-footnote-size-rem: 0.625rem;
  --milkyway-footnotes-small-text-footnote-weight: 400;
  --milkyway-footnotes-small-text-footnote-style: normal;
  --milkyway-footnotes-small-text-footnote-letter-spacing: 1.2px;
  --milkyway-footnotes-small-text-footnote-letter-spacing-rem: 0.075rem;
  --milkyway-footnotes-small-text-footnote-line-height: 12px;
  --milkyway-footnotes-small-text-footnote-line-height-rem: 0.75rem;
  --milkyway-links-link-family: "Roboto";
  --milkyway-links-link-size: 16px;
  --milkyway-links-link-size-rem: 1rem;
  --milkyway-links-link-weight: 400;
  --milkyway-links-link-style: normal;
  --milkyway-links-link-line-height: 19.2px;
  --milkyway-links-link-line-height-rem: 1.2rem;
  --milkyway-buttons-button-small-family: "Roboto";
  --milkyway-buttons-button-small-size: 14px;
  --milkyway-buttons-button-small-size-rem: 0.875rem;
  --milkyway-buttons-button-small-weight: 700;
  --milkyway-buttons-button-small-style: normal;
  --milkyway-buttons-button-small-line-height: 16.8px;
  --milkyway-buttons-button-small-line-height-rem: 1.05rem;
  --milkyway-buttons-button-medium-family: "Roboto";
  --milkyway-buttons-button-medium-size: 16px;
  --milkyway-buttons-button-medium-size-rem: 1rem;
  --milkyway-buttons-button-medium-weight: 700;
  --milkyway-buttons-button-medium-style: normal;
  --milkyway-buttons-button-medium-line-height: 19.2px;
  --milkyway-buttons-button-medium-line-height-rem: 1.2rem;
  --milkyway-buttons-button-large-family: "Roboto";
  --milkyway-buttons-button-large-size: 18px;
  --milkyway-buttons-button-large-size-rem: 1.125rem;
  --milkyway-buttons-button-large-weight: 700;
  --milkyway-buttons-button-large-style: normal;
  --milkyway-buttons-button-large-line-height: 22.5px;
  --milkyway-buttons-button-large-line-height-rem: 1.4063rem;
  --milkyway-captions-labels-label-family: "Roboto";
  --milkyway-captions-labels-label-size: 10px;
  --milkyway-captions-labels-label-size-rem: 0.625rem;
  --milkyway-captions-labels-label-weight: 400;
  --milkyway-captions-labels-label-style: normal;
  --milkyway-captions-labels-label-letter-spacing: 1.3px;
  --milkyway-captions-labels-label-letter-spacing-rem: 0.0812rem;
  --milkyway-captions-labels-label-line-height: 12px;
  --milkyway-captions-labels-label-line-height-rem: 0.75rem;
  --milkyway-captions-labels-caption-family: "Roboto";
  --milkyway-captions-labels-caption-size: 12px;
  --milkyway-captions-labels-caption-size-rem: 0.75rem;
  --milkyway-captions-labels-caption-weight: 400;
  --milkyway-captions-labels-caption-style: normal;
  --milkyway-captions-labels-caption-letter-spacing: 1.4px;
  --milkyway-captions-labels-caption-letter-spacing-rem: 0.0875rem;
  --milkyway-captions-labels-caption-line-height: 14.4px;
  --milkyway-captions-labels-caption-line-height-rem: 0.9rem;
  --milkyway-body-text-body-small-family: "Roboto";
  --milkyway-body-text-body-small-size: 14px;
  --milkyway-body-text-body-small-size-rem: 0.875rem;
  --milkyway-body-text-body-small-weight: 400;
  --milkyway-body-text-body-small-style: normal;
  --milkyway-body-text-body-small-letter-spacing: 1.6px;
  --milkyway-body-text-body-small-letter-spacing-rem: 0.1rem;
  --milkyway-body-text-body-small-line-height: 16.8px;
  --milkyway-body-text-body-small-line-height-rem: 1.05rem;
  --milkyway-body-text-body-regular-family: "Roboto";
  --milkyway-body-text-body-regular-size: 16px;
  --milkyway-body-text-body-regular-size-rem: 1rem;
  --milkyway-body-text-body-regular-weight: 400;
  --milkyway-body-text-body-regular-style: normal;
  --milkyway-body-text-body-regular-letter-spacing: 1.6px;
  --milkyway-body-text-body-regular-letter-spacing-rem: 0.1rem;
  --milkyway-body-text-body-regular-line-height: 19.2px;
  --milkyway-body-text-body-regular-line-height-rem: 1.2rem;
  --milkyway-body-text-body-large-family: "Roboto";
  --milkyway-body-text-body-large-size: 18px;
  --milkyway-body-text-body-large-size-rem: 1.125rem;
  --milkyway-body-text-body-large-weight: 400;
  --milkyway-body-text-body-large-style: normal;
  --milkyway-body-text-body-large-letter-spacing: 1.5px;
  --milkyway-body-text-body-large-letter-spacing-rem: 0.0938rem;
  --milkyway-body-text-body-large-line-height: 22.5px;
  --milkyway-body-text-body-large-line-height-rem: 1.4063rem;
  --milkyway-title-subtitle-family: "Roboto";
  --milkyway-title-subtitle-size: 24px;
  --milkyway-title-subtitle-size-rem: 1.5rem;
  --milkyway-title-subtitle-weight: 400;
  --milkyway-title-subtitle-style: normal;
  --milkyway-title-subtitle-letter-spacing: 1.4px;
  --milkyway-title-subtitle-letter-spacing-rem: 0.0875rem;
  --milkyway-title-subtitle-line-height: 28.8px;
  --milkyway-title-subtitle-line-height-rem: 1.8rem;
  --milkyway-title-title-family: "Roboto";
  --milkyway-title-title-size: 32px;
  --milkyway-title-title-size-rem: 2rem;
  --milkyway-title-title-weight: 700;
  --milkyway-title-title-style: normal;
  --milkyway-title-title-letter-spacing: 1.3px;
  --milkyway-title-title-letter-spacing-rem: 0.0812rem;
  --milkyway-title-title-line-height: 38.4px;
  --milkyway-title-title-line-height-rem: 2.4rem;
  --milkyway-headings-h6-family: "Roboto";
  --milkyway-headings-h6-size: 20px;
  --milkyway-headings-h6-size-rem: 1.25rem;
  --milkyway-headings-h6-weight: 400;
  --milkyway-headings-h6-style: normal;
  --milkyway-headings-h6-letter-spacing: 1.5px;
  --milkyway-headings-h6-letter-spacing-rem: 0.0938rem;
  --milkyway-headings-h6-line-height: 24px;
  --milkyway-headings-h6-line-height-rem: 1.5rem;
  --milkyway-headings-h5-family: "Roboto";
  --milkyway-headings-h5-size: 25px;
  --milkyway-headings-h5-size-rem: 1.5625rem;
  --milkyway-headings-h5-weight: 400;
  --milkyway-headings-h5-style: normal;
  --milkyway-headings-h5-letter-spacing: 1.5px;
  --milkyway-headings-h5-letter-spacing-rem: 0.0938rem;
  --milkyway-headings-h5-line-height: 30px;
  --milkyway-headings-h5-line-height-rem: 1.875rem;
  --milkyway-headings-h4-family: "Roboto";
  --milkyway-headings-h4-size: 31px;
  --milkyway-headings-h4-size-rem: 1.9375rem;
  --milkyway-headings-h4-weight: 700;
  --milkyway-headings-h4-style: normal;
  --milkyway-headings-h4-letter-spacing: 1.4px;
  --milkyway-headings-h4-letter-spacing-rem: 0.0875rem;
  --milkyway-headings-h4-line-height: 37.2px;
  --milkyway-headings-h4-line-height-rem: 2.325rem;
  --milkyway-headings-h3-family: "Roboto";
  --milkyway-headings-h3-size: 39px;
  --milkyway-headings-h3-size-rem: 2.4375rem;
  --milkyway-headings-h3-weight: 700;
  --milkyway-headings-h3-style: normal;
  --milkyway-headings-h3-letter-spacing: 1.4px;
  --milkyway-headings-h3-letter-spacing-rem: 0.0875rem;
  --milkyway-headings-h3-line-height: 46.8px;
  --milkyway-headings-h3-line-height-rem: 2.925rem;
  --milkyway-headings-h2-family: "Roboto";
  --milkyway-headings-h2-size: 49px;
  --milkyway-headings-h2-size-rem: 3.0625rem;
  --milkyway-headings-h2-weight: 700;
  --milkyway-headings-h2-style: normal;
  --milkyway-headings-h2-letter-spacing: 1.3px;
  --milkyway-headings-h2-letter-spacing-rem: 0.0812rem;
  --milkyway-headings-h2-line-height: 58.8px;
  --milkyway-headings-h2-line-height-rem: 3.675rem;
  --milkyway-headings-h1-family: "Roboto";
  --milkyway-headings-h1-size: 61px;
  --milkyway-headings-h1-size-rem: 3.8125rem;
  --milkyway-headings-h1-weight: 700;
  --milkyway-headings-h1-style: normal;
  --milkyway-headings-h1-letter-spacing: 1.2px;
  --milkyway-headings-h1-letter-spacing-rem: 0.075rem;
  --milkyway-headings-h1-line-height: 73.2px;
  --milkyway-headings-h1-line-height-rem: 4.575rem;
}



body {
  font-family: 'Roboto', sans-serif;
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

